{% extends 'layout.html' %}

{%block body%}

<div style="margin-bottom:10px;">
        <a href="/order/create">添加</a>
    </div>
    <table border="1">
        <thead>
            <tr>
                <th>ID|</th>
                <th>URL</th>
                <th>数量</th>
                <th>客户</th>
                <th>订单状态</th>
            </tr>
        </thead>
        <tbody>
        {% for item in data_list %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.url}}</td>
            <td>{{item.count}}</td>
            <td>{{item.real_name}}</td>
            <td>{{status_dict[item.status]}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{%endblock%}